@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #ffffff;
  --foreground: #000000;
  --accent: #a18962;
  --muted: #889993;
  --border: #755b30;
}

html[data-theme="dark"] {
  --background: #2f3039;
  --foreground: #fff;
  --accent: #c2b572;
  --muted: #7d9685;
  --border: #2e2706;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background tracking-wide text-foreground selection:bg-accent/75 selection:text-background;
    font-family: Georgia;
  }
  h1,
  h2 {
    @apply text-(--color-muted);
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    @apply mx-auto max-w-app px-4;
  }

  section,
  nav + main:not(.about) {
    @apply rounded-2xl bg-(--color-background) pt-4;
  }

  section#hero {
    border-radius: unset;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}

.body-wrapper::before {
  content: "";
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.1;
  background-image: url("/assets/map.png");
  background-repeat: space;
  background-size: cover;
  z-index: -10;
}
